@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primaryColor: #079E81;
    --secondaryColor: #fff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #444;
}

header {
    display: flex;
    position: relative;
    margin: 0;
    width: 50%;
    height: 100vh;
    float: left;
    background-color: var(--primaryColor);
}

header section.header_item {
    width: 100%;
    position: relative;
    background-color: var(--primaryColor);
    height: 100 vh;
    padding: 40px;
}

header .logo {
    margin-bottom: 70px;
}

h1 {
    display: block;
    font-family: 'Roboto Slab', serif;
    color: var(--primaryColor);
    font-weight: 700;
    font-size: 3.5vw;
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, 0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
    letter-spacing: .07em;
    line-height: 1.15em;
    padding: 0;
}

h1 .h1_jp{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    text-shadow: none;
    color: #fff;
    font-weight: 300;
    letter-spacing: .04em;
    margin-top: 0.7em;
}

.only_pc {
    display: block;
}

.only_sp{
    display: none;
}
